<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISelectionService">
                    <security mode="Transport" />
                </binding>
				<binding name="BasicHttpBinding_ISMSSERVICE" openTimeout="10:01:00"
     receiveTimeout="10:10:00" sendTimeout="10:01:00" allowCookies="false"
     bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
     maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"
     textEncoding="utf-8" transferMode="Streamed" useDefaultWebProxy="true"
     messageEncoding="Text">
					<readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
					 maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
					<security mode="Transport">
						<transport clientCredentialType="None" proxyCredentialType="None"
						 realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://gsivm-svr-devscm.gurusoft.dev:9403/PRDG11EOSMWSelectionService_Web/Service.svc/basic"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISelectionService"
                contract="G11EOSSelectionService.ISelectionService" name="BasicHttpBinding_ISelectionService" />
			<endpoint address="https://gsivm-svr-devscm.gurusoft.dev:9503/PRDG11EISMWSMSService/Service.svc/basic"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISMSSERVICE"
    contract="GSSMSService.ISMSSERVICE" name="BasicHttpBinding_ISMSSERVICE" />
        </client>
    </system.serviceModel>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
			</providers>
		</roleManager>
	</system.web>
</configuration>